
.card{
    display: flex;
    justify-content:center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: beige;
    border-radius: 20px;
    transition: 0.8s;
    margin: 20px;
    align-items: center;
}

.card:hover{
    height: 350px;
} 

.card .img-box{
    position: absolute;
    width: 170px;
    height: auto;
    top: 0px;
    transition: 0.8s;
}
.card:hover .img-box{
    top: -100px;
    scale: 0.75
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position:absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.8s;
}
.card:hover .content{
    top: 130px;
    height: 250px;
}
.card .read-more {
    background: rgb(171, 69, 11);
    padding: 12px;
    color:beige;
    text-decoration: none;
    border-radius: 8px;
}