header{
    width: 100%;
    padding: 10px 8%;
    position: sticky;
    top: 0;
    background-color: rgb(171, 69, 11);
    z-index: 4;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

#nav_logo {
    font-size: 24px;
    width: 20px;
    box-shadow: rgba(0, 0, 0, 0.15);
}

#nav_list{
    display: flex;
    list-style: none;
    gap: 48px;
}

.nav_item a {
    text-decoration: none;
    color: rgb(255, 255, 255);
   font-weight: 800;
   font-size: 20px;
}

.nav_item.active a{
    border-bottom: 3px solid rgb(216, 125, 6);
    border-radius: 1px;
    width: 50px;
    transition: 0.8s;
}