body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #8B4513;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.botoes-container {
    display: flex;             /* ativa o Flexbox */
    justify-content: center;   /* centraliza horizontalmente */
    gap: 10px;                 /* espaço entre os botões */
    margin: 20px 0;
}

.botoes-container button {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
}
#container_texto {
    width: 90%;
    max-width: 980px;
    margin: 20px auto;
    background-color: rgb(131, 65, 3);
    color: white;
    padding: 20px;
    border-radius: 10px;
    line-height: 1.5;
    position: relative; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#img_ilust {
    width: 300px;
    height: 200px;
    position: absolute;
    top: 20px;
    right: -50px;
    background-color: #555;
    text-align: center;
    line-height: 200px;
    color: white;
    font-weight: bold;
    z-index: 2;
    border-radius: 10px;
}

.conteudo {
    display: none;
}

h1, h3 {
    text-align: center;
}
