* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: linear-gradient(90deg, brown, purple);

}

.card{
    display: flex;
    justify-content:center;
    width: 350px;
    height: 300px;
    position: relative;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 0px 35px 80px rgba(0, 0, 0, 0.15) ;
    transition: 0.5s;
}

.card:hover{
    height: 40px;
} 

.card .img-box{
    position: absolute;
    width: 110px;
    height: auto;
    top: 0px;
    transition: 0.5s;
}
.card:hover .img-box{
    top: -100px;
    scale: 0.75
}

.card .img-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    position:absolute;
    top: 250px;
    width: 100%;
    padding: 0px 30px;
    text-align: center;
    height: 30px;
    overflow: hidden;
    transition: 0.5s;
}
.card:hover .content{
    top: 130px;
    height: 250px;
}
.card .read-more {
    background: linear-gradient(90deg, brown, purple);
    padding: 12px;
    color:aquamarine;
    text-decoration: none;
    border-radius: 8px;
}