body{
    color: aliceblue;
}
button{
    cursor: pointer;
}
button:hover{ /* quando passa o mouse em cima muda de cor COLOCAR NO MENU*/
background-color: blue;
}
main{
    /*background-color: aqua; */
    padding: 0 30px;
}
.page-title{
    /*background-color: blueviolet; */
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.content{
    display: flex;
}
 
section{
    flex: 1;
}
aside{
    min-width: 350px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
tr{
    border-bottom: 3px solid rgb(71, 29, 0);
    letter-spacing: 1.2px;
   
}
th{
    text-align: left;
    padding-bottom: 16px;
    text-transform: uppercase;
    color: aliceblue;
 
}
 
.produtos{
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.produto{
    margin-left: 10px;
    list-style: none;
}
img{
    border-radius: 10px;
    padding: 15px 0;
}
.nav_produto{
    font-size: 20px;
    text-decoration: none;
}
.last-child {
    border: 0; /* deveria tirar a ultima linha do codigo*/
}
.qty{
    background-color: rgb(71, 29, 0);
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    min-width: 80px;
    border: 0;
    overflow: hidden; /* nn sai da imagem*/
    height: 30px;
}
span{
    margin: 0 10px;
}
.soma_sub button{ /* deixar o botão transparent*/
    background: transparent;
    padding: 10px;
    border: 0;
    color: aliceblue;
}
.remove{ /* se der tempo mudar para os botoes do index que são mais bonitos*/
    background-color: rgb(104, 46, 4);
    border: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
 
}
.remove:hover{
    background-color: rgb(165, 75, 1);
}
.box{
    margin-bottom: 15px;
    border: 1px solid rgb(104, 46, 4);
    background: rgb(129, 55, 2);
}
.button_compra{
    background: green;
    display: block;
    width: 100%;
    color: aliceblue;
    border: 0;
    padding: 15px 0;
    text-transform: uppercase;
    letter-spacing: 1;
    margin-top: 20px;
}
.header_fim{
    padding: 20px ;
    font-size: 20px;
}
.info{
    padding: 20px;
}
footer{
    padding-left: 10px ;
    background-color: rgb(107, 48, 6) ;
    font-size: 20px;
    justify-content: center;
    display: flex;
}
.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
 
.cupom_button button {
    color: rgb(71, 29, 0);
    background: transparent;
    border: 0;
    align-items: center;
    display: flex;
}
.cupom_button i{
    font-size: 20px;
}
ul{
     list-style: none;
     text-decoration: none;
     
}
alergicos{
    font-size: 10px;
}