* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(95, 49, 23);
}
section{
    padding: 28px 8%;
}

.btn-default{  /*botão de pedidos*/
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: chocolate;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 1000;
    cursor: pointer;
    transition: background-color .6s ease;
    color: aliceblue;
    font-size: 15px;
}
.btn-default:hover{
    background-color: rgb(168, 101, 23); /* troca a cor do botão*/
    box-shadow: 0 0 18px rgba(255, 230, 150, 0.6);
    animation: botaoEntrada 0.8s ease forwards; /* animação quando aparece */
}
    @keyframes botaoEntrada { /* animação que faz o botão surgir */
  from {
    opacity: 0; /* começa invisível */
    transform: translateY(10px); /* começa um pouco abaixo */
  }
  to {
    opacity: 1; /* fica visível */
    transform: translateY(0); /* vai para posição normal */
  }
}


#rodape-porcento{
    width: 100%;
    height: 70px;
    background-color: rgb(255, 237, 210);
}
#rodape{
    width: 980px;
    height: 50px;
    margin-top: 70px;
    text-align: center;
    padding: 30px;
    color: rgb(0, 0, 0);
   margin: auto;
}