#testimonials{
    margin-top: 120px;
    align-items: center;
    justify-content: center;
    gap: 48px;
}
#testimonials .section-subtitle{
    font-size: 3rem;
    color: aliceblue;
}
#testimonials_content{
    width: 50%;
}

#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 40px;
}
.feedback{
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(89, 43, 6);
    padding: 12px;
    border-radius: 12px;
}
.feedback-avatar{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}
.feedback-content p{
    display: flex;
    justify-content: space-between;
    
}

.fa-solid fa-star{
    color: aliceblue;
}